<div class="container mt-5 text-center">
    <h1>Check a Seat</h1>
</div>
<div class="container mt-5 text-center">
    <h2>Registrate</h2>
</div>
<div class="card-body">
    <form>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <div class="input-group">
                <input type="text" class="form-control" id="nombre" placeholder="Value">
                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <div class="input-group">
                <input type="text" class="form-control" id="apellido" placeholder="Value">
                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <div class="input-group">
                <input type="text" class="form-control" id="email" placeholder="Value">
                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <div class="input-group">
                <input type="text" class="form-control" id="email" placeholder="Value">
                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"><i class="bi bi-send"></i> Enviar</button>
    </form>
</div>
