<div class="container mt-5 text-center">
  <h1>Contacto</h1>
</div>
<div class="container mt-5 text-center">
  <h2></h2>
</div>

<div class="card-body mb-3">
  <form class="mb-4">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Value"
        />
        <span class="input-group-text"><i class="bi bi-card-text"></i></span>
      </div>
    </div>

    <div class="mb-3">
      <label for="correo_electronico" class="form-label"
        >Correo electronico</label
      >
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="apellido"
          placeholder="Value"
        />
        <span class="input-group-text"><i class="bi bi-card-text"></i></span>
      </div>
    </div>

    <div class="mb-3">
      <label for="Telefono" class="form-label">Telefono</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="Telefono"
          placeholder="Value"
        />
        <span class="input-group-text"><i class="bi bi-card-text"></i></span>
      </div>
    </div>

    <div class="mb-3">
      <label for="Mensaje" class="form-label">Mensaje</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="mensaje"
          placeholder="Value"
        />
        <span class="input-group-text"><i class="bi bi-card-text"></i></span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      <i class="bi bi-send"></i> Enviar
    </button>
  </form>
  <br />
</div>
<br />
<br />
<div class="info">
  <h2>¿Tienes alguna duda?</h2>
  <p>
    Si deseas consultar mayor información sobre nuestros servicios o tienes
    alguna duda al respecto, no dudes en contactarnos.
  </p>
</div>
